body {
    background-color: #dbdbdb;
}

#backButton, #editButton, #deleteButton {
    margin-top: 20px;
}

#deleteButton {
    margin-left: 61px;
    width: 100px;
    height: 25px;
    background-color: red;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 9px;
}

#editButton {
    width: 100px;
    margin-left: 61px;
    height: 25px;
    background-color: green;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 9px;
}

#backButton {
    margin-left: 450px;
    width: 100px;
    height: 25px;
    background-color: blue;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 9px;
}

p, header {
    font-family: Verdana, Helvetica, sans-serif;
}

#note {
    padding: 15px 15px 50px 15px;
    border: 1px solid #bfbfbf;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in;
    overflow: hidden;
    width: 500px;
    margin-left: 400px;
    height: 500px;
    font-family: Verdana, Helvetica, sans-serif;
}

#head {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

#noteContent {
    font-size: 125%;
}